.list-item {
  font-size: 1.2rem;

  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;

  border-radius: var(--border-radius-sm);

  transition: background-color var(--transition-fast);

  &--active {
    background-color: var(--bg-main-accent);
  }

  &__icon {
    font-size: 1.5rem;
    flex-shrink: 0;
  }

  &__count{
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    font-weight: bold;
    background-color: var(--accent-danger);
    border-radius: 50%;
    color: var(--bg-main);
  }

  &__delete{
    font-size: 1.5rem;
  }

  &:hover {
    background-color: var(--bg-main-accent-hover);
  }
}
